<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25742729-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body class = "pageBody">

<div class="contentPageTopPaddingOutter">
<div class="contentPageTopPadding"></div></div>
</div>
<div class="contentPageOutter1" id="contentPageOutter">
<div id = "headerBody" style="width:100%; ">
<div class="headerDiv" id="innerHeader">
<p class = "yong_he_p" id="yonghe_title">Yong He</p>
<nav>
<ul id="navBar">
<li><a href = "/index.php" title="Yong He - Home">Home</a></li>
<li><a href = "/contact.php" title="Yong He - Contact">Contact</a></li>
</ul>
</nav>
</div>
<div class="contentPageOutter2"><div class="contentPage" id = "page-wrap">
<div id="loadingPanel" class="invisible" style="margin-top:50px;margin-bottom:50px;"><image src="/images/loadingCircle.gif" width="66px" height="66px"/></div>
<section id="main-content">